<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<div id="banner">
  <h1>Listing Recipes</h1>
</div>

<script>
    $(function() {
        $( "#accordion" ).accordion();
    });
</script>

<div id="accordion">
  <h3>Level 1</h3>
  <div>
    <table>
      <% @recipes.each do |recipe| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td>
            <td class="recipes">
              <d1>
                <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                <dd><strong>Level: </strong><%= recipe.level %></dd>
                <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                <dd><strong>Components: </strong><%= recipe.components %></dd>
                <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
              </d1>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
