<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<div id="banner">
  <h2>Armorer Recipes</h2>
</div>

<script>
    $(function() {
        $( "#accordion" ).accordion();
    });
</script>

<div id="accordion">
  <h3>Level 1: Copper Gloves and Materials</h3>
  <div>
    <table>
      <tr>
      <% @recipes.each do |recipe| %>
        <% if recipe.level == 1 %>
            <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
              <d1>
                <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                <dd><strong>Level: </strong><%= recipe.level %></dd>
                <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                <dd><strong>Components: </strong><%= recipe.components %></dd>
                <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
              </d1>
            </td>
        <% end %>
      <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 2: Iron Gloves and Materials</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 2 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 3: Thracium Gloves and Materials</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 3 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 4: Borgium Gloves and Materials</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 4 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 5: Copper Boots</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 5 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 6: Iron Boots</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 6 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 7: Thracium Boots</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 7 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 8: Borgium Boots</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 8 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 9: Copper Helms and Shields</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 9 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 10: Iron Helms and Shields</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 10 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 11: Thracium Helms and Shields</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 11 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 12: Borgium Helms and Shields</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 12 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 13: Copper Bracers and Pants</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 13 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 14: Iron Bracers and Pants</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 14 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 15: Thracium Bracers and Pants</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 15 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 16: Borgium Bracers and Pants</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 16 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 17: Copper Plate and Ringmail</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 17 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 18: Iron Plate and Ringmail</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 18 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 19: Thracium Plate and Ringmail</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 19 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 20: Borgium Plate and Ringmail</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 20 %>
                <td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
                  <d1>
                    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
                    <dd><strong>Level: </strong><%= recipe.level %></dd>
                    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
                    <dd><strong>Crafted Materials: </strong><%= recipe.crafted_materials %></dd>
                    <dd><strong>Components: </strong><%= recipe.components %></dd>
                    <dd><strong>Guilds: </strong><%= recipe.guilds %></dd>
                  </d1>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
</div>
