<!DOCTYPE html>
<html>
<head>
  <title>Tradesmen Recipes App.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag("filler_elite_plate_mail_scheme.gif", size:"60x40") %>
      <%= @page_title || "Tradesman Recipes App" %>
    </div>
    <div id ="columns">
      <div id="side">
        <ul>
          <li><a href="/recipes">Home</a></li>
          <li><a href="/recipes">Armorer</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>

</body>
</html>